/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Add your custom styles below */
/* For example: */

.header {
  background-color: #02070e;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Add your custom styles below */
/* For example: */

.section {
  margin-bottom: 30px;
}

.section h2 {
  margin-bottom: 20px;
}

.education-year p {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin: 0;
}

.education-institution {
  font-weight: bold;
  margin-bottom: 5px;
}

.education-entry {
  margin-bottom: 20px;
}
