/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Add your custom styles below */
/* For example: */

.header {
  background-color: #02070e;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Add your custom styles below */
/* For example: */

.section {
  margin-bottom: 30px;
}

.section h2 {
  margin-bottom: 20px;
}

.education-year p {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin: 0;
}

.education-institution {
  font-weight: bold;
  margin-bottom: 5px;
}

.education-entry {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  margin-bottom: 20px;
}

.profile-photo {
  width: 80%;
  max-width: 600px;
  height: 90%;
  border-radius: 0%;
}

.App {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

.Left {
  transform: translateX(-100%);
}

.Right {
  transform: translateX(100%);
}


/* Add this class definition to your CSS */
.education-heading {
  font-size: 16px;
  color: #0a0a0a; /* Adjust color as needed */
  font-weight: bold;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-in-out; /* Apply animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(10);
  }
}



/* Referee style */
